@media print{
    * {
        color: #000 !important;
    }

    table {
        width: 100%;
    }

    td {
        border-color: #000;
    }

    a::after{
        content: ' ('attr(href)')';
        margin-left: 2px;
    }

    .actions{
        display: none;
    }

    .expense::before{
        content:'- ';
    }

    .expense::after{
        content: ' - Despesa';
    }

    .profit::before{
        content: '+ ';
    }

    .profit::after{
        content: ' - Receita';
    }
}

table{
    width: 500px;
}

td{
    border: 1px dotted #666;
    padding: 5px;
}

td a{
    color: blue;
}

.expense, .profit,.actions{
    text-align: center;
}

.expense,.profit{
    font-weight: bold;
}

.expense {color: red;}
.profit {color:green;}

.actions a{
    font-size: 0.9em;
    color: white;
    padding: 2px 5px;
    background-color: #3b5998;
    text-decoration: none;
}