label{
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 90px;
}

input, textarea{
    display: inline-block;
    width: 200px;
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 2px #eee;
    font-size: 0.9em;
    padding: 2px 5px;
}

textarea{
    height: 100px;
}

/*MENSAGENS DE AJUDA*/
.hint{
    background-color: #fffbe4;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    /*Colocamos o inline-block de volta*/
    display: inline-block;
    font-size: 0.8em;
    /*Removemos a opacidade do elemento para escondê-lo*/
    opacity:0;
    padding: 3px;
    /*Uma transição de meio	segundo, linear, na	propriedade opacity*/
    transition: all 0.5s;
}

input:focus + .hint, textarea:focus + .hint{
    display: inline-block;
    opacity: 1;
    margin-left: 20px;
}

/* "Um elemento	com	 a classe hint, posicionado exatamente 
depois de um elemento input	(ou textarea) que esteja em foco 
no navegador". Assim, as mensagens se tornarão visíveis 
(tendo a propriedade display sobrescrita de none para 
inline-block), conforme os campos recebem e perdem o foco.*/

/*MOSTRAR ERRO NO FORMULARIO*/
.error{
    color: red;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 0 0 90px;
}

/*BUTTON*/
button{
    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom, #fff, #e5e5e5);
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #000;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover{
    background-color: #285582;
    background-image: linear-gradient(to top, #3775b3, #285582);
    border-color: #204569;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.6);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 3px #3775b3;
}

button:active{
    background-color: #204569;
    background-image: none;
    border-color: #1a3754;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.15);
}